      <div class="row">
        <div class="col-md-7">
          <h2 class="featurette-heading">Angular Is Awesome. <span class="text-muted">It'll blow your mind.</span></h2>

         <p class="lead"> <a href="#/basics"> Let's do this!  </a> </p>

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <div class="col-md-7">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            
        </div>
      </div>

